@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "mixins";

.header {
  background-color: $grey;
  .navbar {
    //padding: 0 1rem;
  }
  &__logo {
    width: 15rem;
    height: auto;
  }
}
