@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "mixins";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.42857;
}

main {
  margin-top: 60px;
}

.header {
  background-color: $grey;
  &__logo {
    width: 15rem;
    height: auto;
  }
  .navbar {
    background-color: $grey;
    padding: 5px 1rem;
    .container {
      align-items: flex-end;
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
    .dropdown>.dropdown-toggle:active {
      pointer-events: none;
    }
  }
  .nav-link {
    color: $white;
  }
}

.footer {
  border-top: 1px solid $fog;
  padding: 60px 0;
  &__logo {
    max-width: 300px;
    height: auto;
    margin-bottom: 2rem;
  }
  &__header {
    margin-bottom: 12px;
    font-weight: 700;
  }
  &__links {
    ul {
      padding: 0;
      list-style: none;
    }
    padding: 0;
    font-size: 11px;
  }
  &__nav-link {
    display: block;
    color: $text;
    margin-bottom: 4px;
    &:hover {
      color: $green;
    }
  }
  &__social {
    outline: none;
    font-size: 0;
    &:hover {
      outline: none;
    }
  }
}

.copyright {
  border-top: 1px solid $fog;
  font-size: 13px;
  padding: 20px 0;
  a {
    color: $text;
    &:hover, &:focus {
      color: $green;
    }
  }
}

.image_header {
  @include bg();
  min-height: 300px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: flex-end;
  &__text {
    color: $white;
  }
}

.iac {
  &__content {
    padding: 4rem 3rem;
  }
  &__image {
    @include bg();
  }
  @include media-breakpoint-down(sm) {
    &__content {
      padding: 2rem 0;
    }
  }
}

.navbar-toggler-icon {}
